{% extends 'dashboard/layouts/dashboard.html' %}
{% load i18n %}
{% load account %}

{% block content %}

<div class="container col-md-8" style="min-height: 400px">


  <h3>{% trans "Confirm E-mail Address" %}</h3>

  {% if confirmation %}

  {% user_display confirmation.email_address.user as user_display %}


  <p>{% blocktrans with confirmation.email_address.email as email %}</p>
  <p>Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is valid e-mail address.{% endblocktrans %}</p>

  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-primary px-3" style="border-radius:25px;">{% trans 'Confirm' %}</button>
  </form>

  {% else %}

  {% url 'account_email' as email_url %}

  <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
      e-mail confirmation request</a>.{% endblocktrans %}</p>

  {% endif %}

</div>

{% endblock %}