{% extends 'dashboard/layouts/auth.html' %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
      <div class="p-5">
          <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
          </div>
         
            <form action="{% url 'account_login' %}" method="POST" class="mt-4 user">
              {% csrf_token %}
       

              {% for key, value in form.errors.items %}
              
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% if key != '__all__' %}{{ key }} {% endif %}{{ value }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}

              <div class="form-group">
                  <input type="email" class="form-control form-control-user"
                      id="exampleInputEmail" aria-describedby="emailHelp"
                      placeholder="Enter Email Address..." name="login">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Password" name="password">
              </div>
              <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck" name="remember">Remember
                          Me</label>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                  Login
              </button>
              <!-- <hr>
              <a href="/" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Login with Google
              </a>
              <a href="/" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
              </a> -->
          </form>
          <hr>
          <div class="text-center">
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
              <a class="small" href="{% url 'account_reset_password' %}" >Forgot Password?</a>
          </div>
          <div class="text-center">
              <a class="small" href="{{ signup_url }}">Create an Account!</a>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block scripts %}


<script>
  $(document).ready(function() {
    $("#input-email").focus();
  });

 
</script>
{% endblock scripts %}
