{% extends 'dashboard/layouts/auth.html' %}
{% load i18n %}
{% load account %}

{% block content %}

<div class="container" style="min-height: 300px;">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
        reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="user password_reset col-md-8">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-sm btn-primary my-3 px-3" style="border-radius:25px;"
            value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="my-3">Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock %}

{% block scripts %}

<script>
    document.getElementById('id_email').classList.add('form-control');
</script>
{% endblock scripts %}