{% extends 'dashboard/layouts/auth.html' %}
{% load i18n %}
{% load account %}

{% block content %}
 <div class="p-5">

     <h1 class="my-2">{% trans "Password Reset" %}</h1>
     
     {% if user.is_authenticated %}
     {% include "account/snippets/already_logged_in.html" %}
     {% endif %}
     
     <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
     <a href="/" class="btn btn-primary px-2"> <i class="fa fa-home"></i> Got To Homepage</a>
    </div>
{% endblock %}

